body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1 px solid #ccc;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
}

label , select, input , button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4caf50;
}

p {
    font-size: 18px;
}